*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}

body{
    font-family:Arial,Helvetica,sans-serif;
    background:#f4f6f9;
}

#root{
    width:100%;
}

.app{

    width:95%;

    margin:40px auto;

}

h1{

    font-size:32px;

    margin-bottom:10px;

    color:#003366;

}

p{

    color:#666;

}