# REPLACE 'your_password' WITH YOUR ACTUAL POSTGRESQL PASSWORD
DATABASE_URL="postgresql://postgres:your_password@localhost:5432/maerskbookingdb?schema=public"

PORT=5000

# Maersk API Credentials
MAERSK_CLIENT_ID=YOUR_CONSUMER_KEY
MAERSK_CLIENT_SECRET=YOUR_CLIENT_SECRET

# TRUNCATE TABLE "Invoice", "ShipmentTracking", "TrackingHistory" RESTART IDENTITY CASCADE;

TELEGRAM_BOT_TOKEN=your_bot_token_here
TELEGRAM_CHAT_ID=your_chat_id_here

# ----- Instructions for setting up Telegram bot and chat ID -----
# ----------------------------------------------------------------

# Replace <YOUR_BOT_TOKEN> with your real bot token and open this URL in your browser:

# https://api.telegram.org/bot<YOUR_BOT_TOKEN>/getUpdates

# Example:

# https://api.telegram.org/bot123456:ABCxyz/getUpdates
3
# /start
# /newbot
# -   name the bot name as you require

# Choose Username -  @your_bot_username

# after that you got the bot token and for chat id you need get with above path paste in the browser
# https://api.telegram.org/bot<YOUR_BOT_TOKEN>/getUpdates
# then you will get the chat id in the response

# ------------------------------...-------------------------------